address-segment {
  .wrapper {
  }
  ion-item{
  }
  .addressDesc{
    overflow: hidden;
    text-overflow: ellipsis;
  }
  ion-grid{
    text-align: center;
    ion-icon{
      padding-top: 12px;
    }
  }
  .equalSign{
    padding-top: 12px;
    text-align: left;
  }
}
